<a href="https://colab.research.google.com/github/Su-001/Age_calculator/blob/main/python_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data type :
 ##interger
 ## float
 ## complex
 ##boolean

In [ ]:
## complex = real + imaginary part
##             x  + yi
## note -> i = j, we use j intead of i

In [1]:
a1 = 10+1j
a1

(10+1j)

In [3]:
a1.real

10.0

In [4]:
a1.imag

1.0

In [ ]:
## boolean data type :
## works = > condition
## two keywords = > true and false
## type : bool

In [5]:
10>5

True

In [6]:
type(10>5)
#type(true)
# bool

bool

In [9]:
a = 5
if(a>3):
  print("a is greater than 3")

a is greater than 3

In [ ]:
## input() :
  ## it takes input/data from user.
  ## it takes data but convert into string data type.

In [10]:
name = input("enter name : ")
print("my name is : ",name)

enter name : suhani
my name is :  suhani

In [11]:
type(name)

str

In [14]:
a1 = input("enter a number :")
a2 = input("enter another number :")
add = print(a1+a2)

enter a number :3
enter another number :2
32

In [1]:
# age calculator

born_year = int(input("Enter your born year :"))
current_year = int(input("Enter current year : "))
age = print("Your age is ", current_year-born_year)

Enter your born year :2002
Enter current year : 2023
Your age is  21

In [1]:
#BMI Calculator
weight = float(input("Enter your weight(in kg) : "))
height = float(input("enter your height(in meters) :"))
print("Your BMI is ",weight/height**2)

Enter your weight(in kg) : 45
enter your height(in meters) :1.58
Your BMI is  18.02595737862522

In [4]:
## KM to meter
km = int(input("enter distance (in KM) :"))
print(km*1000)

enter distance (in KM) :1
1000

In [5]:
#currency converter INT to US dollar
INR = int(input("Enter your currency(in INR) :"))
print(INR*0.012 )

Enter your currency(in INR) :10
0.12